<%- include('./partials/header') %>
<section id="korok">
    <img src="images/yahahakorok.png">
</section>
<section id="home">
<p>Yahaha! You found Triforce Tracker!</p>
<p>Triforce Tracker is the place for reviewing Legend of Zelda video games!</p>
<p>Navigate to see all the games that users have added. Add reviews to those games or add a new game to review!</p>
<p>Join the community!</p>
</section>
<%- include('./partials/footer') %>
