<%- include('./partials/header') %>
<section id="home">
<p>Triforce Tracker is the place for reviewing Legend of Zelda video games!</p>
<p>Navigate to see all the games that users have added. Add reviews to those games or add a new game to review!</p>
</section>
<%- include('./partials/footer') %>
