<%- include('../partials/header') %>

<form id="add-game-form" action="/games" method="POST">
  <label>Title:
    <input type="text" name="title">
  </label><br>
  <label>Release Year:
    <input type="number" name="releaseYear">
  </label><br>
  <button type="submit">Add Game</button>
</form>
<p><%= errorMsg %></p>


<!-- <form id="search-game" action="/games/gamesAPI" method="POST">
  <input type="text" placeholder="Search Zelda Games..."> <button type="submit">Submit</button>
</form> -->

<%- include('../partials/footer') %>